# Ignore sensitive or unnecessary files
*.json
*.txt
.env
key.b64.txt

# Allow specific known-safe files
!requirements.txt
!railway.json

# Ignore Python environment folders and cache
venv/
__pycache__/

# Optional: VSCode
.vscode/
