# Ignore secret files
*.json
*.txt
!requirements.txt
!railway.json
grading.py

# Node modules (if using npm)
node_modules/

key.b64.txt

# VSCode settings
.vscode/

# Ignore everything else by default
*
